
.container{
    background-color: #05e84b;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 200%;
    height:auto;
    justify-content: center;
    align-items: center;
    
}
 .nome{
    font-size: 48px; color: black;
    justify-self: center;
    background-color: #05e84b    
}
.logo{
  justify-self: flex-start;
  width: 150px;
  height: 150px;
}
      
  
.menu {
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    height: auto;

    list-style: none;
    padding: 0px;
    background-color:#05e84b;
    
  }
  .menu li{
    padding: 1em;
  }
  
  .menu a {
    text-decoration: none;
    padding: 1em;
    color: black;
  }
  .menu a:hover {
    background: rgb(20, 186, 28);
  }

  .imagens{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
  }
  .imagem1{
    justify-self: center;
    width: 300px;

  }
  .imagem2{
    justify-self: center;
    width: 300px;
  }
  .imagem3{
    justify-self: center;
    width: 300px;
  }
  .conteudo{
    display: block;
    justify-content: center;
    
  }
  .titulo1{
    font-size:20px; color:#05e84b;
    justify-self: center;
    flex-wrap: wrap;
  }
  .texto{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-self: center;
    align-items: center;
   flex-wrap: wrap;
  }
  .produtos{
    gap: 20px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item1{
    justify-self: center;
    border: #05e84b;
  }
  .item2{
    justify-self: center;
    border: #05e84b;
  }
  .item3{
    justify-self: center;
    border: #05e84b;
  }

 
 .rodape{
    justify-content: center;
    background-color: #05e84b;
    flex-wrap: wrap;
    display:flex;
    
 }
 .nome2{
justify-self: center;

 }
 .cnpj{
    justify-self: center; 
 }
 .endereco{
    justify-self: center;
 }
 .cep{
    justify-self: center;
 }
 .telefone{
    justify-self: center;
 }
 @media (max-width: 768px){
.cabeçalho, .nome {
  font-size: 20px;
}
.logo, .imagem1,.imagem2,.imagem3,.imagens{
  width: 150px;
}
 }
  
